// $images-hight: 50vw;
.tab-1 {
  display: inline-block;
  margin-left: 2em;
}
.tab-2 {
  display: inline-block;
  margin-left: 4em;
}

@mixin cabins($radius) {
  /* Position cabins at equal angles on the wheel */
  .cabin-1 {
    transform: translate(-50%, -50%) rotate(0deg) translateY($radius);
    img {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .cabin-2 {
    transform: translate(-50%, -50%) rotate(45deg) translateY($radius);
    img {
      background-color: white;
      rotate: -45deg;
    }
  }

  .cabin-3 {
    transform: translate(-50%, -50%) rotate(90deg) translateY($radius);
    img {
      rotate: -90deg;
    }
  }

  .cabin-4 {
    transform: translate(-50%, -50%) rotate(135deg) translateY($radius);
    img {
      rotate: -135deg;
    }
  }

  .cabin-5 {
    transform: translate(-50%, -50%) rotate(180deg) translateY($radius);
    img {
      rotate: -180deg;
    }
  }

  .cabin-6 {
    transform: translate(-50%, -50%) rotate(225deg) translateY($radius);
    img {
      rotate: -225deg;
    }
  }

  .cabin-7 {
    transform: translate(-50%, -50%) rotate(270deg) translateY($radius);
    img {
      rotate: -270deg;
    }
  }

  .cabin-8 {
    transform: translate(-50%, -50%) rotate(315deg) translateY($radius);
    img {
      rotate: -315deg;
    }
  }
}
.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: calc(100vh - 56px);
  .text {
    flex-basis: 100% / 2.2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 32px;
    transition: all ease 1s;

    .text-area {
      width: 100%justify-self;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: 0.5px solid $orang;
      /* border-radius: 16px; */
      h1 {
        color: $orang;
        text-align: center;
        border-bottom: 0.5px solid $orang;
        width: 100%;
        padding: 16px 0;
        margin-bottom: 16px;
        font-size: 1.2rem;
      }
      div {
        font-size: 1.2rem;
        color: $white;
        padding-top: 42px;
        tab-size: 4;
      }
      @include CodeSchema;
      a {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        color: $orang;
        text-decoration: none;
        padding: 0.8rem 0px;
        font-weight: bolder;
        margin-top: 60px;
        width: 100%;
        height: 3rem;
        text-align: center;
        cursor: pointer;
        transition: all ease 0.5s;
        border-top: 0.5px solid $orang;

        &:hover {
          width: 75%;
          color: $white;
        }
      }
    }
    @include ScaledHover;
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-basis: 100% / 2.2;
    width: 30vh;
    height: 30vh;
    transition: all ease 1s;
    margin: auto;
    .images {
      position: relative;
      height: 100%;
      widows: 100%;
      margin-top: 60px;
      align-content: center;
      justify-content: center;
      .personal-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 18vw;
        width: 18vw;
        border-radius: 50%;
        padding: 5px;
        // border: 0.5px solid $orang;
        transition: all ease 1s;
      }
      // ---------------------------------------------------------------
      .ferris-wheel {
        position: relative;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        border: 1px solid $orang;
        margin: auto;
      }

      .wheel {
        position: relative;
        width: 100%;
        height: 100%;
        animation: rotateWheel 20s infinite linear;
        display: flex;
        //justify-content: center;
        // align-items: center;
      }

      .cabin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        display: flex;
        //justify-content: center;
        // align-items: center;
      }

      .cabin img {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 50%;
        transform-origin: center center;
        /* Counter-rotate the images to keep them upright */
        animation: rotateImage 20s infinite linear;
      }

      @include cabins(-20vw);

      /* Animation for rotating the wheel */
      @keyframes rotateWheel {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      /* Counter-rotation for the images to keep them upright */
      @keyframes rotateImage {
        0% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(0deg); /* Reverse rotation */
        }
      }

      // ---------------------------------------------------------------
    }
  }
}

@include Query(mobile) {
  .home-page {
    .text {
      flex-basis: 90%;

      width: 90%;
      letter-spacing: 0.3px;
      padding: 8px;
      .text-area {
        width: 95%;
        div {
          font-size: 0.8rem;
          padding: 20px;
        }
        a {
          font-size: 0.7rem;
        }
      }
      &:hover {
        scale: 1.05;
      }
    }

    .images-container {
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      margin: 6rem 0;
      .images {
        .personal-image {
          width: 30vw;
          height: 30vw;
        }
        .ferris-wheel {
          width: 60vw;
          height: 60vw;
        }
        .wheel {
          width: 60vw;
          height: 60vw;
          img {
            width: 10vw;
            height: 10vw;
          }
        }
        @include cabins(-30vw);
      }
    }
  }
}
@include Query(tablet) {
  .home-page {
    .text {
      flex-basis: 90%;
      width: 90%;
      margin: 2rem 0;
      .text-area {
        width: 100%;
        div {
          font-size: 1.4rem;
        }
        a {
          font-size: 1.5rem;
          padding: 0.4rem 0;
        }
      }
    }
    .images-container {
      flex-basis: 90%;
      margin: 6rem 0;

      .images {
        .personal-image {
          width: 30vw;
          height: 30vw;
        }
        .ferris-wheel {
          width: 60vw;
          height: 60vw;
        }
        .wheel {
          width: 60vw;
          height: 60vw;
          img {
            width: 10vw;
            height: 10vw;
          }
        }
        @include cabins(-30vw);
      }
    }
  }
}
@include Query(smallScreen) {
  .home-page {
    .text {
      flex-basis: 80%;
      width: 80%;
      margin: 2rem 0;
      .text-area {
        width: 100%;
        div {
          font-size: 1.4rem;
        }
        a {
          font-size: 1.4rem;
          padding: 0.4rem 0;
        }
      }
    }
    .images-container {
      flex-basis: 80%;
      margin: 6rem 0;
      width: 80%;
      height: 60%;

      .images {
        width: 70vw;
        height: 70vw;
        .personal-image {
          width: 30vw;
          height: 30vw;
        }
        .ferris-wheel {
          width: 60vw;
          height: 60vw;
        }
        .wheel {
          width: 60vw;
          height: 60vw;
          img {
            width: 10vw;
            height: 10vw;
          }
        }
        @include cabins(-30vw);
      }
    }
  }
}
@include Query(largScreen) {
  .home-page {
    .text {
      .text-area {
        width: 45vw;
        div {
          font-size: 1.8rem;
        }
        a {
          font-size: 1.8rem;
          padding: 0.4rem 0;
        }
      }
    }
    .images-container {
      width: 45vw;
      height: 45vw;
      .images {
        margin-top: 1rem;
        width: calc(0.75 * 50vw);
        height: calc(0.75 * 50vw);
      }
    }
  }
}
@include Query(extraLarg) {
  .home-page {
    .text {
      width: 45vw;

      .text-area {
        div {
          font-size: 1.8rem;
        }
        a {
          font-size: 1.8rem;
          padding: 0.4rem 0;
        }
      }
    }
    .images-container {
      width: 45vw;
      height: 45vw;
      .images {
        width: calc(0.75 * 50vw);
        height: calc(0.75 * 50vw);
      }
    }
  }
}
