* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./styles/mixin.scss";

body {
  font-family: "Victor Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $deep-blue;
}

html {
  overflow-x: hidden;
  font-size: 15px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page-section {
  width: 100%;
  min-height: calc(100vh);
}

@import "./Components/Navbar/Navbar.scss";
@import "./styles/Home.scss";
@import "./styles/Education.scss";
@import "./Components/Model/Model.scss";
@import "./styles/Experience.scss";
@import "./styles/Skilles.scss";
@import "./styles/Info.scss";

a {
  text-decoration: none;
}
@include Query(mobile) {
  html {
    font-size: 15px;
  }
}
@include Query(tablet) {
  html {
    font-size: 16px;
  }
}
@include Query(smallScreen) {
  html {
    font-size: 18px;
  }
}
@include Query(largScreen) {
  html {
    font-size: 19px;
  }
}
@include Query(extraLarg) {
  html {
    font-size: 20px;
  }
}
